<form>
  <div class="form-group form-inline justify-content-center">
    Filtry: <input
    class="form-control ml-2"
    type="text"
    name="searchTerm"
    placeholder="Nazwa lokalu"
    [(ngModel)]="service.searchLocationNameTerm"/>
    <input
      class="form-control ml-2"
      type="text"
      name="searchCityTerm"
      placeholder="Miasto"
      [(ngModel)]="service.searchCityTerm"/>
    <span class="ml-3" *ngIf="service.loading$ | async">Ładowanie...</span>
  </div>
  <table class="table table-striped" style="text-align: center">
    <thead>
    <tr>
      <th scope="col" sortable="pickupTime" (sort)="onSort($event)">Data odbioru</th>
      <th scope="col" sortable="locationName" (sort)="onSort($event)">Nazwa lokalu</th>
      <th scope="col" sortable="locationCity" (sort)="onSort($event)">Miasto</th>
      <th scope="col" sortable="rating" (sort)="onSort($event)">Ocena</th>
      <th scope="col" style="text-align: center">Akcje</th>
    </tr>
    </thead>
    <tbody>
    <tr *ngFor="let review of reviews$ | async">
      <td>
        <ngb-highlight [result]="transformDate(review.pickupTime)"></ngb-highlight>
      </td>
      <td>
        <ngb-highlight [result]="review.locationName" [term]="service.searchLocationNameTerm"></ngb-highlight>
      </td>
      <td>
        <ngb-highlight [result]="review.locationCity" [term]="service.searchCityTerm"></ngb-highlight>
      </td>
      <td>
        <ngb-highlight style="display: none" [result]="review.rating | number"></ngb-highlight>
        <ngb-rating [rate]="review.rating" [readonly]="true" max="5">
          <ng-template let-fill="fill">
            <span class="star" [class.filled]="fill === 100">&#9733;</span>
          </ng-template>
        </ngb-rating>
      </td>
      <td>
        <button class="btn btn-primary" style="background-color: rgb(39, 87, 79); border-color: rgb(39, 87, 79)"
                routerLink="/reviews/{{review.id}}">
          Szczegóły
        </button>
      </td>
    </tr>
    </tbody>
  </table>
  <div class="d-flex justify-content-between p-2">
    <ngb-pagination
      [collectionSize]="(total$ | async)!" [(page)]="service.page" [pageSize]="service.pageSize">
    </ngb-pagination>
    <select class="custom-select" style="width: auto" name="pageSize" [(ngModel)]="service.pageSize">
      <option [ngValue]="2">2 recenzje na stronę</option>
      <option [ngValue]="4">4 recenzje na stronę</option>
      <option [ngValue]="6">6 recenzji na stronę</option>
    </select>
  </div>
</form>
