body {

}

.star {
  font-size: 1.5rem;
  color: white;
}

tr:nth-of-type(even) .star {
  font-size: 1.5rem;
  color: lightgrey;
}

.filled {
  color: gold;
}

tr:nth-of-type(even) .filled {
  font-size: 1.5rem;
  color: gold;
}

:focus {
  outline: transparent thin dotted !important;
}

.table-striped tbody tr:nth-of-type(odd) {
  background-color: rgb(121, 208, 198);
}

/*tr:nth-of-type(odd):hover :not th{*/
/*  text-shadow:0px 0px 1px black;*/
/*}*/

/*th {*/
/*  font-weight: bolder;*/
/*}*/

tbody tr:not(th) {
  letter-spacing: 1px;
}

tbody td:not(th) {
  vertical-align: middle;
  /*font-weight: bold;*/
}

tbody tr:hover:not(th) {
  text-shadow:0px 0px 1px black;
}

