<hr>
<div class="container">
  <h1 style="text-align: center">Wszystkie recenzje</h1>
  <div class="row">
    <div class="col"></div>
    <div class="col">
      <p
        class="alert alert-danger"
        style="text-align: center"
        *ngIf="error">{{error}}</p>
    </div>
    <div class="col"></div>
  </div>
  <div class="row">
    <div class="col">
    </div>
    <div class="col-12">
      <app-review-table></app-review-table>
    </div>
    <div class="col">
    </div>
  </div>
</div>


