<div class="container">
  <div class="row" style="margin-top: 15px">
    <div class="col"></div>
    <div class="card pmd-card">
      <div class="card-header" style="display: inline-block">
        <div class="row">
          <div class="col-sm">
            <button
              class="btn btn-primary"
              style="float:left"
              routerLink="/locations">Powrót
            </button>
          </div>
          <div class="col-6"><h4 class="card-title" style="text-align: center">Szczegóły lokalu</h4>
          </div>
          <div class="col-sm">
            <button
              class="btn btn-primary"
              style="float:right"
              routerLink="/locations/edit/{{location?.id}}">
              Edycja
            </button>
          </div>
        </div>
      </div>
      <!-- Listing -->
      <ul class="list-group pmd-list">
        <li class="list-group-item d-flex flex-row">
          <i class='fas fa-home' style='font-size:24px'></i>
          <span class="media-body">
            <span style="font-weight: bold; margin-left: 5px">Lokal: </span>
            {{location.name}}
          </span>
        </li>
        <li class="list-group-item d-flex flex-row">
          <i class="material-icons pmd-list-icon align-middle">location_on</i>
          <span class="media-body">
            <span style="font-weight: bold; margin-left: 5px">Adres: </span>
            {{location.address.street}} {{location.address.buildingNo}}, {{location.address.city}}
          </span>
        </li>
        <li
          class="list-group-item d-flex flex-row"
          style="display: flex; align-items: center">
          <i class='fas fa-star' style='font-size:24px'></i>
          <span class="media-body">
            <span style="font-weight: bold; margin-left: 5px">Ocena: </span>
            <span
              style="font-weight: bold; margin-left: 5px"
              *ngIf="location.rating > 0">
              {{location.rating | number : '1.2-2'}}/5
            </span>
            <span *ngIf="location.rating === 0">
              brak ocen
            </span>
          </span>
        </li>
<!--        <li class="list-group-item d-flex flex-row" *ngIf="counter > 0">-->
<!--          <i class='fa fa-thumbs-down' style='font-size:24px'></i>-->
<!--          <span class="media-body">-->
<!--            <span style="font-weight: bold; margin-left: 5px">Wystąpienia na czarnej liście: </span>-->
<!--            {{counter}}-->
<!--          </span>-->
<!--        </li>-->
        <li class="list-group-item d-flex flex-row">
          <app-map [locationData]="location"></app-map>
        </li>
      </ul>
    </div>
    <div class="col"></div>
  </div>
</div>


