<div class="container">
  <div class="row" style="margin-top: 15px">
    <div class="col">
    </div>
    <div class="col-5">
      <!-- Default form login -->
      <form [formGroup]="changePasswordForm" (ngSubmit)="onSubmit()" class="text-center border border-dark p-5">
        <p class="h4 mb-4">Zmiana hasła</p>
        <div class="alert alert-danger" *ngIf="error">
          <p style="font-weight: bolder; margin: 0 auto">{{error}}</p>
        </div>
        <div class="form-group">
        </div>
        <div class="form-group">
          <label for="currentPassword">Aktualne hasło</label>
          <input
            type="password"
            id="currentPassword"
            formControlName="currentPassword"
            class="form-control"
            placeholder="Aktualne hasło"
          />
        </div>
        <div class="form-group">
          <label for="newPassword">Nowe hasło (min. 8 znaków)</label>
          <input
            type="password"
            id="newPassword"
            formControlName="newPassword"
            class="form-control"
            placeholder="Nowe hasło"
          />
          <span
            *ngIf="changePasswordForm.get('newPassword').dirty && changePasswordForm.get('newPassword').hasError('minlength')">
            <p class="alert alert-danger">Hasło jest zbyt krótkie</p>
          </span>
        </div>
        <div class="form-group">
          <label for="repeatNewPassword">Powtórz nowe hasło</label>
          <input
            type="password"
            id="repeatNewPassword"
            formControlName="repeatNewPassword"
            class="form-control"
            placeholder="Powtórz nowe hasło"
          />
          <span
            *ngIf="changePasswordForm.get('newPassword').dirty
            && !changePasswordForm.get('newPassword').hasError('minlength')
            && changePasswordForm.get('repeatNewPassword').dirty
            && changePasswordForm.get('repeatNewPassword').hasError('mustMatch')">
            <p class="alert alert-danger">Hasła muszą być takie same.</p>
          </span>
        </div>
        <div class="d-flex justify-content-around">
          <span ngbTooltip="{{changePasswordForm.invalid ? 'Wypełnij wymagane pola' : ''}}">
            <button
              class="btn btn-primary"
              type="submit"
              [disabled]="changePasswordForm.invalid">
              Zmień hasło
            </button>
          </span>
        </div>
      </form>
    </div>
    <div class="col">
    </div>
  </div>
</div>
