<div class="container">
  <div class="row" style="margin-top: 15px">
    <div class="col">
    </div>
    <div class="col-5">
      <!-- Default form login -->
      <form [formGroup]="lostPasswordForm" (ngSubmit)="onSubmit()" class="text-center border border-dark p-5">
        <p class="h4 mb-4">Odzyskiwanie hasła</p>
        <div class="alert alert-success" *ngIf="emailSent">
          <p style="font-weight: bolder; margin: 0 auto">Jeżeli adres e-mail istnieje w naszej bazie, na podany adres
            został wysłany link do odzyskania hasła.</p>
        </div>
        <div class="form-group" *ngIf="firstStage">
          <label for="email">Adres e-mail</label>
          <input
            type="email"
            id="email"
            formControlName="email"
            class="form-control"
            placeholder="Adres e-mail"
            (blur)="onEmailCheck()"
            [ngStyle]="{borderColor: invalidEmail && lostPasswordForm.controls.email.errors?.email ? 'red' : '#ced4da'}"
          />
          <span
            *ngIf="invalidEmail && lostPasswordForm.get('email').hasError('email')">
            <p class="alert alert-danger">Nieprawidłowy adres e-mail</p>
          </span>
        </div>
        <div class="form-group" *ngIf="secondStage">
          <label for="password">Nowe hasło (min. 8 znaków)</label>
          <input
            type="password"
            id="password"
            formControlName="password"
            class="form-control"
            placeholder="Nowe hasło"
          />
          <span
            *ngIf="lostPasswordForm.get('password').dirty && lostPasswordForm.get('password').hasError('minlength')">
            <p class="alert alert-danger">Hasło jest zbyt krótkie</p>
          </span>
        </div>
        <div class="form-group" *ngIf="secondStage">
          <label for="repeatPassword">Powtórz nowe hasło</label>
          <input
            type="password"
            id="repeatPassword"
            formControlName="repeatPassword"
            class="form-control"
            placeholder="Powtórz nowe hasło"
          />
          <span
            *ngIf="lostPasswordForm.get('password').dirty
            && !lostPasswordForm.get('password').hasError('minlength')
            && lostPasswordForm.get('repeatPassword').dirty
            && lostPasswordForm.get('repeatPassword').hasError('mustMatch')">
            <p class="alert alert-danger">Hasła muszą być takie same.</p>
          </span>
        </div>
        <div class="d-flex justify-content-around">
          <button
            class="btn btn-primary pull-right"
            type="submit">
            Zmień hasło
          </button>
        </div>
      </form>
    </div>
    <div class="col">
    </div>
  </div>
</div>
