.star {
  font-size: 2rem;
  color: white;
}
.filled {
  color: gold;
}

:focus {
  outline: transparent thin dotted !important;
}

.table-striped tbody tr:nth-of-type(odd) {
  background-color: rgb(121, 208, 198);
}

tbody tr:not(th) {
  letter-spacing: 1px;
}

tbody td:not(th) {
  vertical-align: middle;
}

tbody tr:hover:not(th) {
  font-weight: bold;
  letter-spacing: 0px;
}
