<hr>
<div class="container">
  <h1 style="text-align: center">Twoje lokale</h1>
  <div class="row">
    <div class="col">
    </div>
    <div class="col-12">
      <form>
        <div class="row" *ngIf="error">
          <div class="col"></div>
          <div class="col">
            <p
              class="alert alert-danger"
              style="text-align: center">{{error}}</p>
          </div>
          <div class="col"></div>
        </div>
        <div class="row" *ngIf="locationDeleted">
          <div class="col"></div>
          <div class="col">
            <p
              class="alert alert-success"
              style="text-align: center">Pomyślnie usunięto lokal</p>
          </div>
          <div class="col"></div>
        </div>
        <div class="form-group form-inline justify-content-center">
          Filtry: <input
          class="form-control ml-2"
          type="text"
          name="searchTerm"
          placeholder="Nazwa lokalu"
          [(ngModel)]="datatableService.searchNameTerm"/>
          <input
            class="form-control ml-2"
            type="text"
            name="searchCityTerm"
            placeholder="Miasto"
            [(ngModel)]="datatableService.searchCityTerm"/>
          <span class="ml-3" *ngIf="datatableService.loading$ | async">Ładowanie...</span>
        </div>

        <table class="table table-striped" style="text-align: center">
          <thead>
          <tr>
            <th scope="col" sortable="locationName" (sort)="onSort($event)">Nazwa lokalu</th>
            <th scope="col" sortable="locationCity" (sort)="onSort($event)">Miasto</th>
            <th scope="col" sortable="rating" (sort)="onSort($event)">Ocena</th>
            <th scope="col"></th>
          </tr>
          </thead>
          <tbody>
          <tr *ngFor="let location of userLocations$ | async">
            <td>
              <ngb-highlight [result]="location.name"
                             [term]="datatableService.searchNameTerm"></ngb-highlight>
            </td>
            <td>
              <ngb-highlight [result]="location.city" [term]="datatableService.searchCityTerm"></ngb-highlight>
            </td>
            <td>
              <ngb-highlight style="display: none" [result]="location.rating | number"></ngb-highlight>
              <ngb-rating [rate]="location.rating" [readonly]="true" max="5" *ngIf="location.rating > 0">
                <ng-template let-fill="fill">
                  <span class="star" [class.filled]="fill === 100">&#9733;</span>
                </ng-template>
              </ngb-rating>
              <span *ngIf="location.rating === 0">brak</span>
            </td>
            <td>
              <button class="btn btn-primary"
                      style="background-color: rgb(39, 87, 79); border-color: rgb(39, 87, 79); margin-right: 10px">
                <a
                  style="color: white"
                  routerLink="/locations/{{location.id}}"
                >Szczegóły</a></button>
              <button
                class="btn btn-danger"
                style="border-color: rgb(39, 87, 79)"
                (click)="onDelete(location.id)">
                Usuń
              </button>
            </td>
          </tr>
          </tbody>
        </table>

        <div class="d-flex justify-content-between p-2">
          <ngb-pagination
            [collectionSize]="(total$ | async)!" [(page)]="datatableService.page"
            [pageSize]="datatableService.pageSize">
          </ngb-pagination>

          <select class="custom-select" style="width: auto" name="pageSize" [(ngModel)]="datatableService.pageSize">
            <option [ngValue]="2">2 lokale na stronę</option>
            <option [ngValue]="4">4 lokale na stronę</option>
            <option [ngValue]="6">6 lokali na stronę</option>
          </select>
        </div>

      </form>
    </div>
    <div class="col">
    </div>
  </div>
</div>
